<!DOCTYPE html>
<html lang="">

<head>
  <%- include("partials/head") %>
</head>

<body>
  <%- include("partials/header") %>
  <div class="container pl-sm-0 pr-sm-0 pl-lg-3 pr-lg-3">
    <h2><img src="<%= user.photos[2].value %>" alt="Your Avatar Image" /></h2>
    <h2>ID: <%= user.id %></h2>
    <h2>Name: <%= user.displayName %></h2>
    <h2>Rank: <%= rank %></h2>
  </div>
  <%- include("partials/footer") %> <%- include("partials/scripts") %>
</body>

</html>